*~
aclocal.m4
a.out
autom4te.cache
*.aux
block/test.dat
block/test.txt
compile
config.cache
config.guess
config.h
config.h.in
config.h.win32
config.log
config.status
config.sub
configure
depcomp
.deps
gmon.out
gsl-config
gsl-histogram
gsl.pc
gsl-randist
gsl.spec
gsl_version.h
*.gz
histogram/test.dat
histogram/test.txt
*.la
_libs
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
matrix/test.dat
matrix/test_static
matrix/test.txt
ntuple/test.dat
*.o
rng/test.dat
stamp-h
stamp-h1
stamp-h.in
stamp-vti
*/test
test.dat
test.txt
*.tmp
typescript.make
vector/test.dat
vector/test_static
vector/test.txt
test-driver
