*.aux
*.bbl
*.blg
*.cp
*.cps
*.dvi
*.fn
*.fns
gsl-ref.dvi
gsl-ref.fns
gsl-ref*ps
gsl-ref.vrs
*.html
*.info
*.info-*
*.info*
*.ky
*.la
*.log
Makefile
Makefile.in
manual
mdate-sh
*.pg
*.ps
stamp-vti
*.tmp
*.toc
*.tp
*.tps
version-ref.texi
version.texi
*.vr
*.vrs
